{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<h1>Mon panier</h1>
    {% for cu in cartUser %}
        {% set product = cu.product[0] %}
        {% set totalRow = product.price * cu.quantity %}
        <p>{{ product.name }}</p>
        <p>{{ totalRow }}</p>
    {% endfor %}


    <a href="{{ path('app_stripe')}}"> 
        PAIE CHIEN
    </a>

    <p>yarline price: {{ total }}€</p>
{% endblock %}
