/******** NAV *******/
nav{
    display: flex;
    justify-content: space-between;
}
li img{
    width: 50px;
}

/********  ACCUEIL *******/



/********  DETAIL  *******/
.container__detailProduct{
    background: red;
    width: 100%;
    height: 20%;
    display: flex;
}