/******** NAV *******/
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
li img{
    width: 50px;
}
ul{
    display: flex;
    gap: 8px;
}
li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
/********  ACCUEIL *******/

p{
    font-family: sans-serif;
    color: white!important;
}

form{
    display: flex;
    flex-wrap: wrap;
    padding: 0 30%;
}
form h1{
    color: white;
    margin-bottom: 30px;
}
label {
    color: white;
    width: 100%;
    margin-bottom: 15px;
}
input{
    margin-bottom: 15px;
    width: 300px;
}
form button{
    display: inline;
}
.container__card{
    background: rgb(19, 19, 19);
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 10%;
    justify-content: center;

}

.card{
    width: 300px;
    height: fit-content;
}

.card__img img{
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.card__info p:first-child{
    margin-bottom: 10px;
}




/********  DETAIL  *******/
.container__detailProduct{
    display: flex;
    max-width: 100%;
}
.container__detailProduct--info{
    width: 50%!important;
    padding: 5%;
}
.container__detailProduct--info h1{
    font-size: 2rem;
    font-family: sans-serif;
    margin-bottom: 50px;
    color: white;
}
.container__detailProduct--img{
    display: flex;
    justify-content: center;
}
.container__detailProduct--img img{
    width: 50%!important;
    height: 50%!important;
} 
.container__detailProduct--action{
    width: 50%!important;
    padding: 10% 5%;
	font-family: sans-serif;
}
.container__detailProduct--action p:first-child{
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.container__detailProduct--action p:last-child{
    margin-top: 50px;
}
