{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="{{asset('css/reset.css')}}" />
    <link rel="stylesheet" href="{{asset('css/error.css')}}" />
{% endblock %}

{% block body %}

    <img src="/img/404.png">

    <div class="action">
        <p>Page non  trouvé</p>
        <a class="button__primary" href="/">Retour</a>
    </div>



{% endblock %}